@keyframes openModal {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 100% 100% round 16px);
  }
  to {
    opacity: 1;
    clip-path: inset(0px 0px 0px 0px round 16px);
  }
}

.ReactModal__Content {
  width: 100%;
  max-width: 1240px;
  height: 640px;
  padding: 56px 32px 0 56px !important;

  animation: openModal 0.4s;
}

@media (max-width: 1220px) {
  .ReactModal__Content {
    width: 93%;
    padding: 24px !important;
  }
}

@media (max-width: 768px) {
  .ReactModal__Content {
    height: 80vh;
  }
}

.ReactModal__Overlay {
  z-index: 9999;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}
