.ReactModal__Content::-webkit-scrollbar {
  width: 3px;
}

.ReactModal__Content::-webkit-scrollbar-thumb {
  background-color: #1db954;
}

@keyframes openModal {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 100% 100% round 16px);
  }
  to {
    opacity: 1;
    clip-path: inset(0px 0px 0px 0px round 16px);
  }
}

.ReactModal__Content {
  animation: openModal 0.7s;
}
